.act-highlight {
  position: absolute;
}

.act-highlight-part {
  opacity: 0.4;
  cursor: pointer;
  position: absolute;
}


.act-highlight > div, .act-highlight > div:hover {
  background: #c0392b !important;
}
