@import "variables";

.survey {
  border: 1px solid;
  padding: 20px;
  background: white;
}

.act-progress-bar {
  margin-top: 10px;
  margin-bottom: 10px;
}
.act-progress-bar > div {
  background-color: $primary-color;
}