@import "variables";

.bm-burger-button {
  height: 75px;
  width: 75px;
  position: fixed;
  bottom: 10px;
  right: 10px;
}



/* Position and sizing of clickable cross button */
.bm-cross-button {
  right: 20px !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/* General sidebar styles */
.bm-menu {
  background: $primary-color;
  padding: .5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: white;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: none;
}