@import "./style/variables";
@import "~spectre.css/src/spectre";
@import "~react-scrollbar/dist/css/scrollArea.css";

html, body, #app {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}

hr {
  border-top: 1px solid #b5561d;
}

.form-checkbox input:checked+.form-icon, .form-radio input:checked+.form-icon, .form-switch input:checked+.form-icon {
  background: #b5561d;
  border-color: #b5561d;
}

.btn.btn-primary {
  background: #b5561d;
  border-color: #b54913;
  color: #fff;
}


.partners > img {
  float: right;
}

.sidebar-outer {
  overflow-y: auto;
  z-index: 1;
  -webkit-box-shadow: 3px 0 10px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 0 10px 0 rgba(0,0,0,0.75);
  box-shadow: 3px 0 10px 0 rgba(0,0,0,0.75);
}

blockquote {
  margin-right: 0;
}

.small-text {
  font-size: 13px;
}

p {
  font-size: 0.75rem;
}